@use 'variables' as *;

#input-form {
    width: 350px;
    padding: 20px;
    background: #fff;
    border-right: 1px solid #ccc;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    border: 1px solid 3px;

    .logo {
        width: 80%;
        object-fit: cover;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .input-group {
        margin-block: 15px;

        input[type="text"],
        input[type="number"] {
            margin-block: 3px;
            font-size: 1rem;
            &:focus {
                background-color: #fff9e6; // 入力中フォーカス
            }
            &::placeholder {
                font-size: 0.8rem;
            }
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 0.9rem;
        }

        input {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form_post {
            display: flex;
            align-items: center;
            .post-code {
                display: inline-block;
                width: 20%;
            }
        }

        &::placeholder {
            color: #999;
            opacity: 0.7;
            font-size: 1rem;
        }

        .date-input-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;

            input {
                width: auto !important;
                text-align: center;

                &#date_year { width: 60px !important; }
                &#date_month, &#date_day { width: 40px !important; }
            }
        }
    }

    .credit-type-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-block: 20px;

        .credit-label {
            font-weight: bold;
        }

        .radio-label {
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
        }
    }

    button {
        background: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
        border-radius: 4px;
        font-weight: bold;
        button:hover {
            background: #0056b3;
        }
    }

}