@use 'variables' as *;

.page11,
.page12 {

    input[type="text"],
    input[type="number"],
    textarea {
        font-size: 0.5rem; 

        &::placeholder {
            font-size: 0.5rem !important;
        }
    }

    padding: 10mm 20mm !important;
    font-size: 0.6rem;
    .right {
        width: 100%;
        text-align: end;
        padding-bottom: 30px;
    }

    .beginning {
        padding-block: 10px;
    }

    .select-area {
        padding: 0px;
        
        .select-wrapper {
            width: 100%;
            position: relative;

            select {
                width: 100%;
                height: 15px;
                border: none;      // 枠線を消す
                outline: none;     // クリック時の青い枠を消す
                background: transparent;
                font-size: 0.5rem;
                cursor: pointer;
                appearance: none;  // デフォルトの下矢印を一旦消す（任意）
            }
        }
        select {
            width: 100%;
            height: 15px;
            border: none;
            outline: none;
            background: transparent;
            font-size: 0.5rem;
            cursor: pointer;

            // ブラウザ標準の矢印を消す
            -webkit-appearance: none; // Safari, Chrome用
            -moz-appearance: none;    // Firefox用
            appearance: none;         // 標準設定
            
            // IEで矢印を消すための魔法の記述
            &::-ms-expand {
                display: none;
            }

            // 1. 初期状態（何も選択されていない時）の色
            color: #999; 

            // 2. 有効な値（option）が選択された時の色
            &:valid {
                color: #000;
            }
        }

        // 3. プルダウンを開いた時の中身（option）は常に黒くしたい場合
        option {
            color: #000;
            background-color: #fff;
        }
    }

    .dear-wrapper {

        .dearinput-wrapper {
            display: flex;
            align-items: end;
            .input-large {
                width: 30%;
                border-bottom: 0.5px solid #000;
                margin-right: 5px;
                margin-top: 5px;
                padding-block: 3px;
                font-size: 0.8rem;
                text-align: center;
                &::placeholder {
                    font-size: 0.8rem !important; 
                }
            }
        }
    }
    .consent {
        display: flex;
        justify-content: end;
        .input-wrapper {
            width: 10%;
            display: flex;
            align-items: end;
            .input-large {
                font-size: 0.6rem;
                &::placeholder {
                    font-size: 0.6rem !important; 
                }
            }
        }
    }
    .title {
        font-size: 1rem;
        text-align: center;
        border-bottom: none;
        padding-block: 20px;
    }
    .zokusei-container {
        padding-top: 15px;
    }
    .zokusei-table1 {
        font-size: 0.5rem;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #000;
        
        th,td {
            border: 1px solid #000;
            vertical-align: middle; /* これで上下中央になります */
            padding: 0;
            font-weight: 500 !important;
            .inputkana-wrapper {
                width: 100%;
                height: 18.32px;
                border-bottom: 0.5px solid #000;
                display: flex;
                align-items: center;
                span {
                    width: 10%;
                    padding: 2px;
                }
                .input-kana {
                    width: 90%;
                    text-align: start;
                }
            }
        }
        .label-bg {
            padding: 0 3px;
        }
        .input-area {
            padding: 0 5px;
            height: 30px;
        }
        .address-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-inline: 5px;
            .post-wrapper {
                display: flex;
                align-items: center;
                .input-char {
                    width: 20px !important;
                    height: 15px !important;
                    min-height: auto !important;
                    padding: 0 !important;
                    text-align: center;
                    font-size: 0.35rem;
                    vertical-align: 0;
                }
            }
            .address-wrapper {
                height: 25px;
            }
        }
        .tel-wrapper {
            height: 25px;
            display: flex;
            align-items: center;
            .input-tel {
                text-align: center;
            }
        }
        .date-wrapper {
            padding-inline: 10px;
            display: flex;
            height: 30px;
            justify-content: space-around;
            gap: 10px;
            align-items: center;
            .date-inner {
                display: flex;
                .input-wrapper {
                    display: flex;
                    align-items: center;
                    .input-large {
                        font-size: 0.6rem;
                        text-align: center;
                        vertical-align: middle;
                        width: 50px !important;
                    }
                }
            }
        }
        .select-area {
            padding: 0 10px;
            
            .select-wrapper {
                width: 100%;
                position: relative;

                select {
                    width: 100%;
                    height: 25px;
                    border: none;      // 枠線を消す
                    outline: none;     // クリック時の青い枠を消す
                    background: transparent;
                    font-size: 0.6rem;
                    cursor: pointer;
                    appearance: none;  // デフォルトの下矢印を一旦消す（任意）
                }
            }
            select {
                width: 100%;
                height: 25px;
                border: none;
                outline: none;
                background: transparent;
                font-size: 0.6rem;
                cursor: pointer;

                // ブラウザ標準の矢印を消す
                -webkit-appearance: none; // Safari, Chrome用
                -moz-appearance: none;    // Firefox用
                appearance: none;         // 標準設定
                
                // IEで矢印を消すための魔法の記述
                &::-ms-expand {
                    display: none;
                }

                // 1. 初期状態（何も選択されていない時）の色
                color: #999; 

                // 2. 有効な値（option）が選択された時の色
                &:valid {
                    color: #000;
                }
            }

            // 3. プルダウンを開いた時の中身（option）は常に黒くしたい場合
            option {
                color: #000;
                background-color: #fff;
            }
        }
        .input-wrapper {
            display: flex;
            align-items: center;
            .input-large {
                font-size: 0.6rem;
                text-align: center;
                vertical-align: middle;
                width: 50px !important;
            }
        }
        .vertical-text {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-align: center;
        }
    }
    .zokusei-table2 {
        .label-input {
            padding: 0 !important;
            width: 100%;
            .kana {
                flex-shrink: 0;  // テキスト幅を維持
                width: fit-content;
                white-space: nowrap;
            }
            .input-kana{
                flex: 1;  // 残りの幅をすべて使う
                min-width: 0;
            }
        }
        .date-wrapper {
            padding-inline: 2px !important;
            display: flex;
            height: 15px;
            justify-content: space-around;
            gap: 3px;
            align-items: center;
            .input-wrapper {
                display: flex;
                align-items: center;
                .input-no {
                        font-size: 0.6rem;
                        text-align: center;
                        vertical-align: middle;
                    width: 35px !important;
                }
                .input-no2 {
                    width: 25px !important;
                }
            }
            
        }
        .select-area {
            padding: 0px;
            
            .select-wrapper {
                width: 100%;
                position: relative;

                select {
                    width: 100%;
                    height: 15px;
                    border: none;      // 枠線を消す
                    outline: none;     // クリック時の青い枠を消す
                    background: transparent;
                    font-size: 0.5rem;
                    cursor: pointer;
                    appearance: none;  // デフォルトの下矢印を一旦消す（任意）
                }
            }
            select {
                width: 100%;
                height: 15px;
                border: none;
                outline: none;
                background: transparent;
                font-size: 0.5rem;
                cursor: pointer;

                // ブラウザ標準の矢印を消す
                -webkit-appearance: none; // Safari, Chrome用
                -moz-appearance: none;    // Firefox用
                appearance: none;         // 標準設定
                
                // IEで矢印を消すための魔法の記述
                &::-ms-expand {
                    display: none;
                }

                // 1. 初期状態（何も選択されていない時）の色
                color: #999; 

                // 2. 有効な値（option）が選択された時の色
                &:valid {
                    color: #000;
                }
            }

            // 3. プルダウンを開いた時の中身（option）は常に黒くしたい場合
            option {
                color: #000;
                background-color: #fff;
            }
        }
        .tel-wrapper {
            height: 15px !important;
        }
        .input-mail {
            padding: 0 5px;
            height: 15px;
            width: 250px;

        }
        .center {
            text-align: center;
        }
        .label-small {
            padding: 2px 1px;
            text-align: center;
            font-size: 0.4rem;

        }
        .vertical-text {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
        .flex-beside {
            display: flex;
            align-items: flex-end;
        }
        .right-border {
            border-right: 1px solid #000;
            padding: 0 10px;
            
        }
        .flex-vertical {
            display: flex;
            // flex-direction: column;
            align-items: flex-end;
        }
        .input-no2 {
            width: 80%;
        }
        .input-no3 {
            padding-inline: 1px;
        }
        .padding3 {
            padding: 3px 0 !important;
        }
        .padding1 {
            padding: 1px 0 !important;
        }
        .naisen {
            width: 30px;
        }
        .input-tel2 {
            width: 70px;   // 固定幅にする
            min-width: 0;  // flexで潰れないように
            flex-shrink: 0;
            text-align: center;
        }
        .fontsmall {
            font-size: 0.3rem;
        }
    }
    .footer-table {
        font-size: 0.5rem;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 0.5px solid #000;
        margin-top: 20px;
        
        td {
            padding: 5px;
            font-weight: 500 !important;
        }
        .post-wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
            .input-char {
                width: 20px !important;
                height: 18px !important;
                min-height: auto !important;
                padding: 0 !important;
                text-align: center;
                font-size: 0.35rem;
                vertical-align: 0;
            }
            span {
                width: 60px !important;
            }
        }
        .input-area {
            padding: 0 5px;
            height: 30px;
        }
        .tel-wrapper {
            height: 25px;
            display: flex;
            align-items: center;
            .input-tel {
                text-align: center;
            }
        }
        .left {
            justify-content: flex-start !important;
        }
    }

    //page12
    .borderright-none {
        border-right: transparent !important;
    }
    .borderleft-none {
        border-left: transparent !important;
    }
    .input-tel3 {
        width: 50px;   // 固定幅にする
        min-width: 0;  // flexで潰れないように
        flex-shrink: 0;
        text-align: center;
    }
    .margin-top {
        margin-top: 5px;
    }
    .height25 {
        height: 25px !important;
    }
    .nensyu-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .nensyu-table {
            font-size: 0.5rem;
            table-layout: fixed;
            width: 200px;
            text-align: center;
            border-collapse: collapse;
            border: 1.5px solid #000;
            margin-top: 5px;
            
            td {
                border: 1.5px solid #000;
                vertical-align: middle;
                padding-block: 2px;
            }
            .input-wrapper {
                display: flex;
                align-items: flex-end;
                span {
                    width: 30px;
                }
            }
        }
    }
    .identity-table {
        font-size: 0.5rem;
        table-layout: fixed;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #000;
        margin-top: 5px;
        
        td {
            border: 1px solid #000;
            vertical-align: middle;
            padding-block: 2px;
        }
        .padding5 {
            padding-inline: 5px;
        }
        .identity-container {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px;
        }
        .yes-no {
            display: flex;
            flex-direction: column;
            flex: 1; // 残り幅をすべて使う
            align-items: flex-start;
        }
        .yes-container {
            text-align: left;
            .driverno-wrapper {
                display: flex;
                
                .input-char {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    border-right: 0.5px solid #000;
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                    &:first-child {
                        border-left: 1px solid #000;
                    }
                    &:last-child {
                        border-right: 1px solid #000;
                    }
                }   
            }
        }
        .no-container {
            text-align: left;
            width: 100%;
            p {
                width:fit-content;
            }
            .sonota-inner {
                display: flex;
                align-items: center;
                padding-block: 3px;
                span {
                    width: fit-content;
                }
                .sonota-input {
                    flex: 1;
                    border-bottom: 0.5px solid #000;
                }    
            }
        }
        .yes-container,
        .no-container {
            display: none; // 最初は両方非表示
        }
    }
    .footer-table2 {
        td {
            padding: 0px 5px !important;
        }
    }

    .kana-size {
        font-size: 0.4rem !important;
    }

    .address-wrapper {                
        display: flex;
        align-items: center;    /* ★これで中身（textarea）を絶対に上下中央にする */
        justify-content: center;
        height: 30px;           /* 親（セル）の高さは40pxに固定 */
        width: 100%;
        padding: 0;         /* 上下の線に文字がギリギリ触れないように少しだけ余白を持たせる */
        box-sizing: border-box;
        // border: solid 1px red;

        .texarea-small {
            display: block;
            width: 100%;
            height: auto;        /* ★高さを固定せず、文字数に合わせて自動で変わるようにする */
            max-height: 30px;    /* 40pxのセルからはみ出さないための限界の高さ */
            line-height: 1.2;    /* ★2行になったときに文字が重ならないよう、標準的な行高にする */
            resize: none;
            word-break: break-all;
            overflow: hidden;
            border: none;
            outline: none;
            background: transparent;
            font-size: 0.4rem; 
            padding: 0 5px;
            margin: 0;
            box-sizing: border-box;
            // border: solid 1px red;
            
            &::placeholder {
                color: #bbbbbb;
                font-size: 0.4rem;
            }
            &:focus {
                background-color: #fff9e6;
            }
        }
    }


}